body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    color: black;

    width: auto;
    margin: 10px;
}

h1 {
    text-align: center;
    font size: 24px;
}

p {
    text-align: left;
    font-style: italic;
}
